/* http://meyerweb.com/eric/tools/css/reset/ 
            v2.0 | 20110126
            License: none (public domain)
        */

        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }

        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        
        img{
            display: block;
            max-width: 100%;
        }
        
        body{
            /* background-color: #f9f6ee; */
            line-height: 1;
            background-color: #EAE0D5;
            font-family: 'Poppins', sans-serif;
            margin-left: auto;
            margin-right: auto;
            max-width: 960px;
        }
        

        header p{
            text-align: center;
        }

        h1{
            color: #0A0908;
            font-weight: 600;
            font-size: 36px;
            text-align: center;
            max-width: 80%;
            margin: 0 auto;
            padding-bottom: 10px;
            border-bottom: 4px solid #030303;
        }
        
        header span{
            font-weight: 300;
            font-size: 24px;
        }


        h2{
            font-weight: 600;
            font-size: 28px;
            max-width: 80%;
            margin: auto;
            margin-bottom: 15px;
            padding-top: 20px;
            padding-bottom: 10px;
            border-bottom: 4px solid #030303;
        }

        h3{
            font-weight: 400;
            font-size: 20px;
            max-width: 80%;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 10px;
        }

        h4{
            font-weight: 400;
            font-size: 14px;
            max-width: 80%;
            margin: auto;
            padding-bottom: 10px;
        }

        p{
            font-family: 'Raleway', sans-serif;
            max-width: 80%;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.5px;
            padding-top: 20px;
            color:#0A0908;
            margin-left: auto;
            margin-right: auto;
        }

        nav{
            background-color: #212121;
            height: 40px;
            width: 100%;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            margin-bottom: 20px;
        }

        nav ul{
            margin-left: 80px;
            text-decoration: none;
            box-sizing: border-box;
        }

        nav ul li{
            display: inline-block;
            line-height: 40px;
            margin: 0 5px;
        }
        
        nav ul li a{
            color: white;
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 10%;
            padding: 7px 13px;
        }

        nav a:hover{
            background-color: red;
            transition: 0.5s ease-out;
            text-decoration: none;
            background-size: 20px;
        }

        #menu-icon{
            font-size: 30px;
            color: white;
            float: right;
            line-height: 40px;
            margin-right: 40px;
            cursor: pointer;
            display: none;
        }

        #short-menu{
            display: none;
        }

        /* .checkbutton{
            font-size: 30px;
            color: white;
            float: right;
            line-height: 40px;
            margin-right: 40px;
            cursor: pointer;
            display: none;
        }

        #check{
            display: none;
        } */
        
        @media (max-width: 952px){
            /* .checkbutton{
                display: block;
            } */
            #menu-icon{
                display: block;
            }

            .menu-element{
                display: none;
            }

            nav ul li:hover div#short-menu{
                display: block;
                right: 0;
            }

            nav ul li div{
                position: fixed;
                width: 100%;
                padding: 10px;
                background-color: #212121;
                text-align: center;
                transition: all .5s;
                display: none;
                right: -100%;
            }

            nav ul li div ul{
                margin: auto;
            }

            nav ul li div li{
                display: block;
                line-height: 30px;
            }

        }

        #profile-description img{
            max-width: 30%;
            margin-top: 25px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;

        }

        #education{
            margin-top: auto;
        }
        
        #education h3{
            font-family: 'Raleway',sans-serif;
            font-size: 16px;
            font-weight: 500;
            margin-top: 10px;
        }

        #education span{
            font-size: 18px;
            font-weight: 800;
            color: #03045E;
        }

        #soft-skills table{
            max-width: 80%;
            margin: auto;
        }

        #soft-skills td{
            border: 0.5px solid #EAE0D5;
            padding: 0.5em;
            text-align: center;
            background-color: #03045E;
            border-radius: 10%;
            font-weight: 500;
            font-size: 14px;
            color: #EAE0D5;
        }

        .scroll {
            overflow-x: scroll;
            height: 60px;
            max-width: 80%;
            margin: auto; 
            padding: 5px;
            text-align: justify;
        }
        .scroll::-webkit-scrollbar {
            height:6px;
        }

        .scroll::-webkit-scrollbar-track {
            -webkit-box-shadow:inset 0 0 8px #f0f0f0; 
            border-radius:5px;
        }

        .scroll::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 8px red; 
            border-radius:5px;
        }

        #technical-skills .box{
            position: relative;
            width: 80%;
            display: grid;
            grid-template-columns: 150px 2fr;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        
        #technical-skills .box .percent{
            position: relative;
            width: 100%;
            height: 10px;
            height: 10px;
            background: #f0f0f0;
        }
        
        #technical-skills .box .percent div{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: #03045E;
        }

        #portfolio p{
            margin-top: -20px;
            margin-bottom: 15px;
        }

        #portfolio img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 80%;
            border-radius: 2%;
        }

        #portfolio h3{
            font-weight: 500;
            margin-top: 20px;
        }

        #portfolio span{
            font-weight: 800;
            font-size: 16px;
            color:#03045E
        }
        
        #portfolio .row{
            display: flex;
            margin: auto;
        }
        
        #portfolio .column{
            flex:50%;
        }

        #hobbies-languages .column h2{
            text-align: left;
        }

        #hobbies-languages .column h4{
            font-weight: 600;
            padding-top: 7px;
        }

        #hobbies-languages .row{
            display: flex;
            margin: auto;
            max-width: 90%;
        }
        
        #hobbies-languages .column{
            flex:50%;
            line-height: 1.5;
            text-align: center;
        }
        
        #hobbies-languages .box{
            position: relative;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        
        #hobbies-languages .box .percent{
            position: relative;
            width: 100%;
            height: 10px;
            height: 10px;
            background: #f0f0f0;
        }
        
        #hobbies-languages .box .percent div{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: #03045E;
        }

        #favorites .favorite-item h3{
            color:#03045E;
            font-weight: 600;
        }
        
        #favorites .favorite-item table{
            /* border-collapse: collapse; */
            max-width: 90%;
            margin: auto;
            border: 2px solid #03045E;
        }

        #favorites .favorite-item th{
            padding: 8px;
            text-align: left;
            font-weight: 800;
            background-color: #03045E;
            color: #EAE0D5;
        }

        #favorites .favorite-item td{
            padding: 8px;
            font-weight: 16px;
        }

        #contact-info table{
            max-width: 80%;
            margin: auto;
        }

        #contact-info td{
            border: 10px solid #EAE0D5;
            padding: 1em;
            margin: 1em;
            text-align: center;
            background-color: #303036;
            border-radius: 30%;
            font-weight: 500;
            font-size: 14px;
        }

        #contact-info td:hover{
            background-color: red;
            transition: 0.3s ease-out;
        }

        #contact-info a{
            color: #EAE0D5;
            text-decoration: none;
        }
